tpu-info==0.7.1
yapf==0.43.0
pytest
pytest-mock
absl-py
numpy
google-cloud-storage
jax==0.9.2
jaxlib==0.9.2
libtpu==0.0.39
jaxtyping
flax==0.12.4
torchax==0.0.11
qwix==0.1.2
torchvision==0.25.0
pathwaysutils
parameterized
numba==0.62.1
runai-model-streamer[s3,gcs]==0.15.4
gcsfs==2026.1.0
hypothesis==6.151.9
sortedcontainers==2.4.0
# Upstream pins to 5.5.3 https://github.com/vllm-project/vllm/blob/de3fe8dc62f3d77eb8dab8125ca90436f606bccb/requirements/test/nightly-torch.txt#L32
# TODO: unpin once transformers release with the fix https://github.com/huggingface/transformers/pull/45680
transformers==5.5.3
